.list-table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #a9a9a9;
}

/* This creates the 4-column layout */
.list-table-format {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border-bottom: 1px solid #dadada;
    font-size: 13px;
}

.list-table-format.title {
    background-color: #f9f9f9;
    font-weight: bold;
}

.list-table-format img {
    width: 100px; /* Controls that giant painting size */
    border-radius: 4px;
}

.cursor {
    cursor: pointer;
    color: red;
    font-weight: bold;
    text-align: center;
}